VITE_APP_NAME="Kalapak Team"
VITE_APP_ENV=production
VITE_API_URL=https://kalapak-backend.onrender.com/api
VITE_BASE_URL=https://kalapak-backend.onrender.com
VITE_WITH_CREDENTIALS=true
VITE_TURNSTILE_SITE_KEY=0x4AAAAAAAC4BOzhJInXTTfSR
